*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/res/drawable/zdjecie30.gif
app/src/main/res/drawable/zdjecie31.gif
app/src/main/res/drawable/zdjecie32.gif
app/src/main/res/drawable/zdjecie33.gif
app/src/main/res/drawable/zdjecie34.gif
app/src/main/res/drawable/zdjecie35.gif
app/src/main/res/drawable/zdjecie36.gif
app/src/main/res/drawable/zdjecie37.gif
app/src/main/res/drawable/zdjecie38.png
app/src/main/res/drawable/zdjecie39.png
app/src/main/res/drawable/zdjecie4.jpg
app/src/main/res/drawable/zdjecie40.png
app/src/main/res/drawable/zdjecie41.png
app/src/main/res/drawable/zdjecie42.png
app/src/main/res/drawable/zdjecie43.png
app/src/main/res/drawable/zdjecie44.png
app/src/main/res/drawable/zdjecie45.png
app/src/main/res/drawable/zdjecie46.png
app/src/main/res/drawable/zdjecie47.png
app/src/main/res/drawable/zdjecie48.png
app/src/main/res/drawable/zdjecie49.png
app/src/main/res/drawable/zdjecie5.jpg
app/src/main/res/drawable/zdjecie50.gif
app/src/main/res/drawable/zdjecie51.gif
app/src/main/res/drawable/zdjecie52.gif
app/src/main/res/drawable/zdjecie53.gif
app/src/main/res/drawable/zdjecie54.gif
app/src/main/res/drawable/zdjecie55.png
app/src/main/res/drawable/zdjecie56.png
app/src/main/res/drawable/zdjecie57.png
app/src/main/res/drawable/zdjecie58.png
app/src/main/res/drawable/zdjecie6.jpg
app/src/main/res/drawable/zdjecie7.jpg
app/src/main/res/drawable/zdjecie8.jpg
app/src/main/res/drawable/zdjecie9.jpg
